.fxc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
mat-card {
  border-radius: 1rem;
}
mat-form-field {
  width: 100%;
}

button.auth {
  display: flex;
  align-items: center;
}

.auth--header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  img {
    height: 35px;
    width: 35px;
    margin-right: 0.5rem;
  }
}

.auth--options {
  margin-top: 1rem;
}

@media (min-width: 777px) {
  mat-card {
    padding: 2rem;
    width: 600px;
  }

  .mfx-row {
    display: flex;
    justify-content: space-between;
    & > * {
      flex-basis: 46%;
    }
  }
}
