<div class="container fxc">
  <mat-card class="mat-elevation-z2">
    <div class="auth--header">
      <img src="assets/icons/angular.png" alt="logo" />
      <h2 class="m-0">Sign up</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="mfx-row">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            formControlName="username"
            matInput
            type="text"
            autocomplete="off"
            placeholder="Enter your username"
          />
          <mat-error *ngIf="username.invalid">
            {{ getErrorMessage("username") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input
            formControlName="email"
            matInput
            type="email"
            placeholder="Enter your email"
          />
          <mat-error *ngIf="email.invalid">
            {{ getErrorMessage("email") }}
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          formControlName="displayName"
          matInput
          type="text"
          autocomplete="off"
          placeholder="Enter your name"
        />
        <mat-error *ngIf="displayName.invalid">
          {{ getErrorMessage("displayName") }}
        </mat-error>
      </mat-form-field>

      <div class="mfx-row">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="passwordInputType"
            placeholder="Enter your password"
          />
          <mat-icon (click)="toggleShowPassword()" matSuffix>
            {{ passwordIcon }}
          </mat-icon>
          <mat-error *ngIf="password.invalid">
            {{ getErrorMessage("password") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            formControlName="confirmPassword"
            matInput
            [type]="passwordInputType"
            placeholder="Confirm your password"
          />
          <mat-icon (click)="toggleShowPassword()" matSuffix>
            {{ passwordIcon }}
          </mat-icon>
          <mat-error *ngIf="confirmPassword.invalid">
            {{ getErrorMessage("confirmPassword") }}
          </mat-error>
        </mat-form-field>
      </div>

      <button
        *ngIf="!(isLoading$ | async); else loadingButton"
        [disabled]="form.invalid"
        type="submit"
        class="auth btn btn-primary"
      >
        <mat-icon>send</mat-icon>&nbsp;&nbsp;Register
      </button>

      <!-- loading button -->
      <ng-template #loadingButton>
        <button disabled class="auth btn btn-primary-outline">
          <mat-icon>send</mat-icon>&nbsp;&nbsp;Submitting...
        </button>
      </ng-template>
    </form>

    <div class="auth--options text-center">
      <small>Already have an account ?</small> <br />
      <a routerLink="/auth/login">Sign in here</a>
    </div>
  </mat-card>
</div>
